[Unit]
Description={{ service_description }}
After=syslog.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/opt/{{ virtual_env_name }}/bin/python /opt/{{ virtual_env_name }}/bin/{{ salt_component_name }}

[Install]
WantedBy=multi-user.target
