[Unit]
Description=The Salt Minion
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/cloudbreak_salt_env/bin/python /opt/cloudbreak_salt_env/bin/salt-minion

[Install]
WantedBy=multi-user.target
